.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  background-image: url(https://img.alicdn.com/tfs/TB1QZgkBHvpK1RjSZPiXXbmwXXa-1950-1300.jpg);
  background-size: cover;
}